PySide6
pyautogui
Pillow
psutil
SpeechRecognition
pyttsx3
opencv-python
numpy
requests
keyboard
mouse
pytweening
pyscreeze
PyMsgBox
mouseinfo
certifi
charset-normalizer
idna
urllib3
PyGetWindow
pywin32
azure-storage-queue
