PySide6-Essentials
pyautogui
Pillow
psutil
SpeechRecognition
pyttsx3
requests
pytweening
pyscreeze
PyMsgBox
mouseinfo
certifi
charset-normalizer
idna
urllib3
PyGetWindow
pywin32
azure-identity
azure-storage-queue
